cache/
.cache/
.config/
.local/
_old/
.idea/
.vscode/
results/
results_combined/
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.egg-info
*.egg
*.sh
*.zip
*.tar.gz
*.tar
*.tgz
*.rar
*.7z
*.tar.bz2
*.tar.xz
*.txt
*.osm.pbf
*.lock
data/exionaics/exionaics_train.jsonl
