cache/
notebooks/
.cache/
.config/
.local/
_old/
.idea/
.venv/
.vscode/
results/
Makefile
pyproject.toml
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.egg-info
*.egg
*.sh
*.zip
*.tar.gz
*.tar
*.tgz
*.rar
*.7z
*.tar.bz2
*.tar.xz
*.txt
*.osm.pbf
*.lock
